body {
  background-color: #ffe1ad;
}

.h1, h1 {
  font-family: Josefin Sans;
  font-weight: 600;
}

.h2, h2 {
  font-family: Josefin Sans;
}

.h3, h3 {
  font-family: Josefin Sans;
}

.h4, h4 {
  font-family: Josefin Sans;
}

.h5, h5 {
  font-family: Josefin Sans;
}

.h6, h6 {
  font-family: Josefin Sans;
}

.btn .btn-primary {
  background-color: #f52424;
  border-color:
}

.btn-primary:hover .btn-primary:active {
  background-color: #f52424;
}

.btn .btn-primary .btn-block .mb-1 {
  background-color: #f52424;
}
